.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 25rem;
  height: 30rem;
  border-radius: 10px;
  padding: 0 35px 35px 35px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollBar::-webkit-scrollbar {
  width: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: gray;  
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);
}

.closeX {
  position: absolute;
  top: 15px;
  right: 15px;
}

.popup__inner .title p {
  color: #454545;
  font-size: 3rem;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin: 30px 0 20px 0;
}

.popup__inner .desc p {
  color: #454545;
  font-size: .7rem;
  font-weight: 500;
  font-family: "Gowun Batang", serif;
}

.popup__inner .logoArea {
  display: flex;
  justify-content: space-evenly;
}

.popup__inner .popup__footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* margin-top: 40px; */
}

.popup__footer .closeBtn {
  padding: .3rem .9rem;
  color: #454545;
  font-size: .7rem;
  font-family: "Gowun Batang", serif;
  background-color: #cacaca;
  border-radius: 5px;
  cursor: pointer;
}